<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MeetingMapper">
 	
 	
	<resultMap id="meetingSelectMap" type="com.destiny.service.domain.Meeting">
		<result property="meetingNo" 			column="meeting_no" 		jdbcType="NUMERIC"/>
		<result property="role" 				column="role" 				jdbcType="CHAR" />
		<result property="meetingMasterId"		column="meeting_master_id" 	jdbcType="VARCHAR" />
		<result property="masterProfileImg"		column="master_profile_img" jdbcType="VARCHAR" />
		<result property="meetingCenter"		column="meeting_center" 	jdbcType="VARCHAR" />
		<result property="meetingName"			column="meeting_name" 		jdbcType="VARCHAR" />
		<result property="titleImg"				column="title_img" 			jdbcType="VARCHAR" />
		<result property="meetingDetail"		column="meeting_detail" 	jdbcType="VARCHAR"/>
		<result property="meetingRule" 			column="meeting_rule" 		jdbcType="VARCHAR" />
		<result property="interestName" 		column="interest_name" 		jdbcType="VARCHAR"/>
		<result property="meetingLocation" 		column="meeting_location" 	jdbcType="VARCHAR" />
		<result property="meetingDate" 			column="meeting_date" 		jdbcType="DATE" />
		<result property="meetingDay" 			column="meeting_day" 		jdbcType="VARCHAR" />
		<result property="meetingTime" 			column="meeting_time" 		jdbcType="VARCHAR" />
		<result property="snooze" 				column="snooze" 			jdbcType="CHAR" />
		<result property="meetingDues" 			column="meeting_dues" 		jdbcType="VARCHAR" />
		<result property="meetingViews" 		column="meeting_views" 		jdbcType="NUMERIC"/>
		<result property="meetingCondition" 	column="meeting_condition" 	jdbcType="CHAR"/>
		<result property="shutDownDate" 		column="shut_down_date" 	jdbcType="DATE" />
		<result property="meetingCrewLimit" 	column="meeting_crew_limit" jdbcType="NUMERIC" />
		<result property="interestNo" 			column="interest_no" 		jdbcType="NUMERIC" />
		<result property="crewCondition" 		column="crew_condition" 	jdbcType="CHAR" />
		<result property="crewNickName" 		column="crew_nick_name" 	jdbcType="VARCHAR" />
		<result property="meetingActNo" 		column="meeting_act_no" 	jdbcType="VARCHAR" />
		<result property="meetingCrewNo" 		column="meeting_Crew_no" 	jdbcType="VARCHAR" />

	</resultMap>

	 <select 	id="getInterestList" resultMap="meetingSelectMap">
		SELECT* FROM interest
	 </select>
	 
	 <insert 	id="addMeeting"		parameterType="com.destiny.service.domain.Meeting">
	 	 <selectKey keyProperty="meetingNo" resultType="int" order="BEFORE">
    		select seq_meeting_no.nextval FROM DUAL
  		  </selectKey>
	 	INSERT
		INTO meeting( meeting_no, role, meeting_master_id, master_profile_img, meeting_center, 
			meeting_name, title_img, meeting_detail, meeting_rule, interest_name,
			meeting_location, meeting_date, meeting_day, meeting_time, snooze, meeting_dues,
			meeting_condition, meeting_crew_limit) 
		VALUES	 ( #{meetingNo}, 'MST', #{meetingMasterId}, #{masterProfileImg:VARCHAR}, #{meetingCenter},
			#{meetingName}, #{titleImg}, #{meetingDetail}, #{meetingRule}, #{interestName},
			#{meetingLocation}, #{meetingDate:DATE}, #{meetingDay:VARCHAR}, #{meetingTime}, #{snooze}, #{meetingDues},
			'DEF', #{meetingCrewLimit})
	 </insert>
	 
	 <select 	id="getMeetingList" parameterType="com.destiny.common.Search" resultMap="meetingSelectMap">
		SELECT* FROM meeting WHERE meeting_condition ='DEF'
		<if test="searchKeyword != null">
			and meeting_name LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition != null">
			and meeting_center LIKE '%'||#{searchCondition}||'%'
		</if>
		<if test="searchSortingOption != null">
			and interest_name LIKE '%'||#{searchSortingOption}||'%'
		</if>
	 </select>
	 
	 <select 	id	="getMeeting"	parameterType="string"	resultMap="meetingSelectMap">
		SELECT*FROM meeting
		where meeting_no = #{meetingNo}
	 </select>
	 
	 <select 	id	="getAct"	resultType="int">
		SELECT meeting_act_count FROM meeting_act
		where meeting_no = #{meetingNo}
	 </select>
	 
	 <update 	id="updateViews"		parameterType="com.destiny.service.domain.Meeting">
	 	UPDATE meeting
	 	<set>
	 	 meeting_views = NVL(meeting_views,0) +1
	 	</set>
	 	WHERE meeting_no = #{meetingNo}
	 </update>
	 
	  <select  id="getBestProduct"  resultMap="meetingSelectMap">
	 		SELECT *
			FROM ( SELECT inner_table. * ,  ROWNUM AS row_seq 
				FROM (
				select*from meeting where meeting_views is not null order by meeting_views desc
				) inner_table 
			WHERE ROWNUM &lt;= 3)
			WHERE row_seq BETWEEN 1 AND 3 
	 </select>
	 
	  <select  id="getCrewCount" resultType="int">
	 		select count(*)from meeting_crew_list where meeting_no= #{meetingNo}
	 </select>
	 
	 <select  id="getCrew" resultMap="meetingSelectMap">
	 		select profile_img as master_profile_img,crew_nick_name,role from meeting_crew_list where meeting_no= #{meetingNo}
	 </select>
	 
	 <update	id="updateMeeting"	parameterType="com.destiny.service.domain.Meeting" >
	   	UPDATE meeting
	   	<set>
	   		meeting_condition 		= #{meetingCondition}
	   	</set>
	   	WHERE meeting_no = #{meetingNo}
	 </update>
	 
	 <update	id="updateContentsMeeting"	parameterType="com.destiny.service.domain.Meeting" >
	   	UPDATE meeting
	   	<set>
	   		meeting_center		=#{meetingCenter:VARCHAR}, 
			meeting_name		=#{meetingName:VARCHAR}, 
			title_img			=#{titleImg:VARCHAR}, 
			meeting_detail		=#{meetingDetail:VARCHAR}, 
			meeting_rule		=#{meetingRule:VARCHAR}, 
			interest_name		=#{interestName:VARCHAR},
			meeting_location	=#{meetingLocation:VARCHAR}, 
			meeting_date		=#{meetingDate:DATE}, 
			meeting_day			=#{meetingDay:VARCHAR}, 
			meeting_time		=#{meetingTime:VARCHAR}, 
			snooze				=#{snooze:CHAR}, 
			meeting_dues		=#{meetingDues:VARCHAR},
			meeting_crew_limit 	=#{meetingCrewLimit:NUMERIC}
	   	</set>
	   	WHERE meeting_no = #{meetingNo}
	 </update>
	 
	 <insert 	id="addAct"		parameterType="com.destiny.service.domain.Meeting">
	 	INSERT
		INTO meeting_act ( meeting_act_no, meeting_no, meeting_act_count, act_date,
					act_location, act_time,act_dues) 
		VALUES	 ( seq_meeting_act_no.nextval, #{meetingNo}, 1, #{meetingDate:DATE}, 
					#{meetingLocation:VARCHAR}, #{meetingTime:VARCHAR}, #{meetingDues:VARCHAR})
	 </insert>
	 
	 <insert 	id="addCrewList"		parameterType="com.destiny.service.domain.Meeting">
	 	INSERT
		INTO meeting_crew_list ( meeting_crew_no, meeting_no, crew_id, crew_nick_name,
					role, profile_img,crew_condition) 
		VALUES	 ( seq_meeting_crew_no.nextval, #{meetingNo}, #{meetingMasterId}, #{crewNickName:VARCHAR}, 
					'MST', #{masterProfileImg:VARCHAR},'YES')
	 </insert>
	 
	  <insert 	id="addCrewM"		parameterType="com.destiny.service.domain.Meeting">
	 	INSERT
		INTO meeting_crew_list ( meeting_crew_no, meeting_no, crew_id, crew_nick_name,
					role, profile_img, interview_title, interview, crew_condition) 
		VALUES	 ( seq_meeting_crew_no.nextval, #{meetingNo}, #{meetingMasterId}, #{crewNickName:VARCHAR}, 
					'MEM', #{masterProfileImg:VARCHAR}, #{interviewTitle}, #{interview},'APL')
	 </insert>
	 
	 <insert 	id="addCrewAct"		parameterType="com.destiny.service.domain.Meeting">
	 	INSERT
		INTO meeting_act_crew_list ( act_crew_no, meeting_act_no, meeting_crew_no,
					crew_nick_name,master_profile_img) 
		VALUES	 ( seq_act_crew_no.nextval, #{meetingActNo}, #{meetingCrewNo},
					#{crewNickName:VARCHAR}, #{masterProfileImg:VARCHAR})
	 </insert>
	 
	 
	 <select  id="checkDuplicationCrew" resultType="int">
	 		select count(*) CREW_ID from meeting_crew_list where meeting_no=#{meetingNo} 
	 		and crew_id=#{meetingMasterId}
	 </select>
	 
	 <select  id="getActNo" resultMap="meetingSelectMap">
	 		select meeting_act_no from meeting_act where meeting_no = #{meetingNo}
	 </select>
	 
	 <select  id="getCrewNo" resultMap="meetingSelectMap">
	 		select meeting_crew_no from meeting_crew_list where meeting_no = #{meetingNo} and crew_id=#{meetingMasterId}
	 </select>
	 
	 
</mapper>