<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MeetingMapper">
 	
 	
	<resultMap id="meetingSelectMap" type="com.destiny.service.domain.Meeting">
		<result property="meetingNo" 			column="meeting_no" 		jdbcType="NUMERIC"/>
		<result property="role" 				column="role" 				jdbcType="CHAR" />
		<result property="meetingMasterId"		column="meeting_master_id" 	jdbcType="VARCHAR" />
		<result property="masterProfileImg"		column="master_profile_img" jdbcType="VARCHAR" />
		<result property="meetingCenter"		column="meeting_center" 	jdbcType="VARCHAR" />
		<result property="meetingName"			column="meeting_name" 		jdbcType="VARCHAR" />
		<result property="titleImg"				column="title_img" 			jdbcType="VARCHAR" />
		<result property="meetingDetail"		column="meeting_detail" 	jdbcType="VARCHAR"/>
		<result property="meetingRule" 			column="meeting_rule" 		jdbcType="VARCHAR" />
		<result property="interestName" 		column="interest_name" 		jdbcType="VARCHAR"/>
		<result property="meetingLocation" 		column="meeting_location" 	jdbcType="VARCHAR" />
		<result property="meetingDate" 			column="meeting_date" 		jdbcType="DATE" />
		<result property="meetingDay" 			column="meeting_day" 		jdbcType="VARCHAR" />
		<result property="meetingTime" 			column="meeting_time" 		jdbcType="VARCHAR" />
		<result property="snooze" 				column="snooze" 			jdbcType="CHAR" />
		<result property="meetingDues" 			column="meeting_dues" 		jdbcType="VARCHAR" />
		<result property="meetingViews" 		column="meeting_views" 		jdbcType="NUMERIC"/>
		<result property="meetingCondition" 	column="meeting_condition" 	jdbcType="CHAR"/>
		<result property="shutDownDate" 		column="shut_down_date" 	jdbcType="DATE" />
		<result property="meetingCrewLimit" 	column="meeting_crew_limit" jdbcType="NUMERIC" />
		<result property="interestNo" 			column="interest_no" 		jdbcType="NUMERIC" />
	</resultMap>

	 <select 	id="getInterestList" resultMap="meetingSelectMap">
		SELECT* FROM interest
	 </select>
	 
	 <insert 	id="addMeeting"		parameterType="com.destiny.service.domain.Meeting">
	 	 <selectKey keyProperty="meetingNo" resultType="int" order="BEFORE">
    		select seq_meeting_no.nextval FROM DUAL
  		  </selectKey>
	 	INSERT
		INTO meeting( meeting_no, role, meeting_master_id, master_profile_img, meeting_center, 
			meeting_name, title_img, meeting_detail, meeting_rule, interest_name,
			meeting_location, meeting_date, meeting_day, meeting_time, snooze, meeting_dues,
			meeting_condition, meeting_crew_limit) 
		VALUES	 ( #{meetingNo}, 'MST', #{meetingMasterId}, #{masterProfileImg:VARCHAR}, #{meetingCenter},
			#{meetingName}, #{titleImg}, #{meetingDetail}, #{meetingRule}, #{interestName},
			#{meetingLocation}, #{meetingDate:DATE}, #{meetingDay:VARCHAR}, #{meetingTime}, #{snooze}, #{meetingDues},
			'DEF', #{meetingCrewLimit})
	 </insert>
	 
	 
</mapper>